In [5]:
import pandas as pd

ruta_archivo = r"C:\Users\Andre\OneDrive\Documents\GitHub\df_final_experiment_clients.txt"

df_clients = pd.read_csv(ruta_archivo, delimiter=',', encoding='utf-8')
df_clients

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [ ]:
ruta_archivo = r"C:\Users\Andre\OneDrive\Documents\GitHub\df_final_demo.txt"

df_clients = pd.read_csv(ruta_archivo, delimiter=',', encoding='utf-8')
df_clients

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [ ]:
#Comprender de los datos
print(df_clients.info())
print(df_clients.describe())
print(df_clients.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB
None
          client_id  clnt_tenure_yr  clnt_tenure_mnth      clnt_age  \
count  7.060900e+04    70595.000000      70595.000000  70594.000000
mean   5.004992e+06       12.052950        150.659367     46.442240
std    2.877278e+06        6.871819         82.089854     15.591273
min    1.690000e+02        2.000000         33.000000     13.500000
25%    2.519329e+06        6.000000         82.000000     32.500000
50%    5.016978e+06       11.000000        136.000000     47.000000
75%    7.483085e+06       16.000000        192.000000     59.000000
max    9.999839e+06       62.000000        749.000000     96.000000

          num_accts           bal  calls_6_mnth  logons_6_mnth
count  70595.000000  7.059500e+04  70595.000000   70595.000000
mean       2.255528  1.474452e+05      3.382478       5.566740
std        0.534997  3.015087e+05      2.236580       2.353286
min        1.000000  1.378942e+04      0.000000       1.000000
25%        2.000000  3.734683e+04      1.000000       4.000000
50%        2.000000  6.333290e+04      3.000000       5.000000
75%        2.000000  1.375449e+05      6.000000       7.000000
max        8.000000  1.632004e+07      7.000000       9.000000
client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [14]:
df_clients.rename(columns={'gendr': 'gender'}, inplace=True)

In [18]:
#### ANÁLISIS DEMOGRÁFICO ####

# Resumen demográfico general
demographics_summary = df_clients[['clnt_age', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'gender']].describe()
print("Resumen demográfico general:")
print(demographics_summary)

# Distribución por género
gender_distribution = df_clients['gender'].value_counts(normalize=True) * 100
print("\nDistribución porcentual por género:")
print(gender_distribution)

# Promedio de edad y antigüedad por género
age_tenure_by_gender = df_clients.groupby('gender')[['clnt_age', 'clnt_tenure_yr', 'clnt_tenure_mnth']].mean()
print("\nPromedio de edad y antigüedad por género:")
print(age_tenure_by_gender)

Resumen demográfico general:
           clnt_age  clnt_tenure_yr  clnt_tenure_mnth
count  70594.000000    70595.000000      70595.000000
mean      46.442240       12.052950        150.659367
std       15.591273        6.871819         82.089854
min       13.500000        2.000000         33.000000
25%       32.500000        6.000000         82.000000
50%       47.000000       11.000000        136.000000
75%       59.000000       16.000000        192.000000
max       96.000000       62.000000        749.000000

Distribución porcentual por género:
U    34.169559
M    33.605779
F    32.220412
X     0.004250
Name: gender, dtype: float64

Promedio de edad y antigüedad por género:
         clnt_age  clnt_tenure_yr  clnt_tenure_mnth
gender
F       49.520950       14.792491        183.423591
M       48.582364       14.882608        184.366886
U       41.435349        6.687008         86.616616
X       39.333333        9.666667        119.666667

In [ ]:
#### ANÁLISIS DEL COMPORTAMIENTO ####

# Distribución por número de cuentas y saldo promedio
accounts_balance_summary = df_clients[['num_accts', 'bal']].describe()
print("\nResumen del número de cuentas y saldos:")
print(accounts_balance_summary)

# Promedio de llamadas y logons por género
activity_by_gender = df_clients.groupby('gender')[['calls_6_mnth', 'logons_6_mnth']].mean()
print("\nPromedio de llamadas y logons por género:")
print(activity_by_gender)

# Análisis por pasos del proceso
if 'process_step' in df_clients.columns:
    process_activity = df_clients['process_step'].value_counts()
    print("\nDistribución de pasos del proceso digital:")
    print(process_activity)

Resumen del número de cuentas y saldos:
          num_accts           bal
count  70595.000000  7.059500e+04
mean       2.255528  1.474452e+05
std        0.534997  3.015087e+05
min        1.000000  1.378942e+04
25%        2.000000  3.734683e+04
50%        2.000000  6.333290e+04
75%        2.000000  1.375449e+05
max        8.000000  1.632004e+07

Promedio de llamadas y logons por género:
        calls_6_mnth  logons_6_mnth
gender
F           3.090785       5.287127
M           3.706837       5.885643
U           3.338488       5.516707
X           3.666667       6.000000

Correlación entre antigüedad, edad, actividad y saldo:
                clnt_tenure_yr  clnt_age  logons_6_mnth  calls_6_mnth  \
clnt_tenure_yr        1.000000  0.309372       0.048516      0.049919
clnt_age              0.309372  1.000000       0.084683      0.026734
logons_6_mnth         0.048516  0.084683       1.000000      0.822217
calls_6_mnth          0.049919  0.026734       0.822217      1.000000
bal                   0.203620  0.209549       0.165380      0.162165

                     bal
clnt_tenure_yr  0.203620
clnt_age        0.209549
logons_6_mnth   0.165380
calls_6_mnth    0.162165
bal             1.000000

Promedio de actividad y saldo por grupo de edad:
           logons_6_mnth  calls_6_mnth            bal
age_group
Joven           5.495761      3.438646   69439.283575
Adulto          5.405998      3.241980  155446.103351
Mayor           6.015676      3.613896  236171.604424

In [ ]:

# Correlación entre antigüedad y actividad
correlations = df_clients[['clnt_tenure_yr', 'clnt_age', 'logons_6_mnth', 'calls_6_mnth', 'bal']].corr()
print("\nCorrelación entre antigüedad, edad, actividad y saldo:")
print(correlations)

# Segmentación por edad (jóvenes, adultos y mayores)
df_clients['age_group'] = pd.cut(df_clients['clnt_age'], bins=[0, 35, 60, 100], labels=['Joven', 'Adulto', 'Mayor'])
activity_by_age_group = df_clients.groupby('age_group')[['logons_6_mnth', 'calls_6_mnth', 'bal']].mean()
print("\nPromedio de actividad y saldo por grupo de edad:")
print(activity_by_age_group)

Correlación entre antigüedad, edad, actividad y saldo:
                clnt_tenure_yr  clnt_age  logons_6_mnth  calls_6_mnth  \
clnt_tenure_yr        1.000000  0.309372       0.048516      0.049919
clnt_age              0.309372  1.000000       0.084683      0.026734
logons_6_mnth         0.048516  0.084683       1.000000      0.822217
calls_6_mnth          0.049919  0.026734       0.822217      1.000000
bal                   0.203620  0.209549       0.165380      0.162165

                     bal
clnt_tenure_yr  0.203620
clnt_age        0.209549
logons_6_mnth   0.165380
calls_6_mnth    0.162165
bal             1.000000

Promedio de actividad y saldo por grupo de edad:
           logons_6_mnth  calls_6_mnth            bal
age_group
Joven           5.495761      3.438646   69439.283575
Adulto          5.405998      3.241980  155446.103351
Mayor           6.015676      3.613896  236171.604424