In [2]:
import pandas as pd

ruta_archivo = r"C:\Users\Andre\OneDrive\Documents\GitHub\df_final_experiment_clients.txt"

df_clients = pd.read_csv(ruta_archivo, delimiter=',', encoding='utf-8')
df_clients

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Andre\\OneDrive\\Documents\\GitHub\\df_final_experiment_clients.txt'

In [ ]:
ruta_archivo = r"C:\Users\Andre\OneDrive\Documents\GitHub\df_final_demo.txt"

df_clients = pd.read_csv(ruta_archivo, delimiter=',', encoding='utf-8')
df_clients

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [ ]:
#Comprender de los datos
print(df_clients.info())
print(df_clients.describe())
print(df_clients.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB
None
          client_id  clnt_tenure_yr  clnt_tenure_mnth      clnt_age  \
count  7.060900e+04    70595.000000      70595.000000  70594.000000
mean   5.004992e+06       12.052950        150.659367     46.442240
std    2.877278e+06        6.871819         82.089854     15.591273
min    1.690000e+02        2.000000         33.000000     13.500000
25%    2.519329e+06        6.000000         82.000000     32.500000
50%    5.016978e+06       11.000000        136.000000     47.000000
75%    7.483085e+06       16.000000        192.000000     59.000000
max    9.999839e+06       62.000000        749.000000     96.000000

          num_accts           bal  calls_6_mnth  logons_6_mnth
count  70595.000000  7.059500e+04  70595.000000   70595.000000
mean       2.255528  1.474452e+05      3.382478       5.566740
std        0.534997  3.015087e+05      2.236580       2.353286
min        1.000000  1.378942e+04      0.000000       1.000000
25%        2.000000  3.734683e+04      1.000000       4.000000
50%        2.000000  6.333290e+04      3.000000       5.000000
75%        2.000000  1.375449e+05      6.000000       7.000000
max        8.000000  1.632004e+07      7.000000       9.000000
client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [ ]:
df_clients.rename(columns={'gendr': 'gender'}, inplace=True)

In [ ]:
#### ANÁLISIS DEMOGRÁFICO ####

# Resumen demográfico general
demographics_summary = df_clients[['clnt_age', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'gender']].describe()
print("Resumen demográfico general:")
print(demographics_summary)

# Distribución por género
gender_distribution = df_clients['gender'].value_counts(normalize=True) * 100
print("\nDistribución porcentual por género:")
print(gender_distribution)

# Promedio de edad y antigüedad por género
age_tenure_by_gender = df_clients.groupby('gender')[['clnt_age', 'clnt_tenure_yr', 'clnt_tenure_mnth']].mean()
print("\nPromedio de edad y antigüedad por género:")
print(age_tenure_by_gender)

Resumen demográfico general:
           clnt_age  clnt_tenure_yr  clnt_tenure_mnth
count  70594.000000    70595.000000      70595.000000
mean      46.442240       12.052950        150.659367
std       15.591273        6.871819         82.089854
min       13.500000        2.000000         33.000000
25%       32.500000        6.000000         82.000000
50%       47.000000       11.000000        136.000000
75%       59.000000       16.000000        192.000000
max       96.000000       62.000000        749.000000

Distribución porcentual por género:
U    34.169559
M    33.605779
F    32.220412
X     0.004250
Name: gender, dtype: float64

Promedio de edad y antigüedad por género:
         clnt_age  clnt_tenure_yr  clnt_tenure_mnth
gender
F       49.520950       14.792491        183.423591
M       48.582364       14.882608        184.366886
U       41.435349        6.687008         86.616616
X       39.333333        9.666667        119.666667

In [ ]:
#### ANÁLISIS DEL COMPORTAMIENTO ####

# Distribución por número de cuentas y saldo promedio
accounts_balance_summary = df_clients[['num_accts', 'bal']].describe()
print("\nResumen del número de cuentas y saldos:")
print(accounts_balance_summary)

# Promedio de llamadas y logons por género
activity_by_gender = df_clients.groupby('gender')[['calls_6_mnth', 'logons_6_mnth']].mean()
print("\nPromedio de llamadas y logons por género:")
print(activity_by_gender)

# Análisis por pasos del proceso
if 'process_step' in df_clients.columns:
    process_activity = df_clients['process_step'].value_counts()
    print("\nDistribución de pasos del proceso digital:")
    print(process_activity)

NameError: name 'df_clients' is not defined

In [ ]:

# Correlación entre antigüedad y actividad
correlations = df_clients[['clnt_tenure_yr', 'clnt_age', 'logons_6_mnth', 'calls_6_mnth', 'bal']].corr()
print("\nCorrelación entre antigüedad, edad, actividad y saldo:")
print(correlations)

# Segmentación por edad (jóvenes, adultos y mayores)
df_clients['age_group'] = pd.cut(df_clients['clnt_age'], bins=[0, 35, 60, 100], labels=['Joven', 'Adulto', 'Mayor'])
activity_by_age_group = df_clients.groupby('age_group')[['logons_6_mnth', 'calls_6_mnth', 'bal']].mean()
print("\nPromedio de actividad y saldo por grupo de edad:")
print(activity_by_age_group)

Correlación entre antigüedad, edad, actividad y saldo:
                clnt_tenure_yr  clnt_age  logons_6_mnth  calls_6_mnth  \
clnt_tenure_yr        1.000000  0.309372       0.048516      0.049919
clnt_age              0.309372  1.000000       0.084683      0.026734
logons_6_mnth         0.048516  0.084683       1.000000      0.822217
calls_6_mnth          0.049919  0.026734       0.822217      1.000000
bal                   0.203620  0.209549       0.165380      0.162165

                     bal
clnt_tenure_yr  0.203620
clnt_age        0.209549
logons_6_mnth   0.165380
calls_6_mnth    0.162165
bal             1.000000

Promedio de actividad y saldo por grupo de edad:
           logons_6_mnth  calls_6_mnth            bal
age_group
Joven           5.495761      3.438646   69439.283575
Adulto          5.405998      3.241980  155446.103351
Mayor           6.015676      3.613896  236171.604424

In [ ]:
### RESULTADOS DE LA EXPERIENCIA ### 

# Todos los clientes de client_id_final aparecen en client_id_webdata, pero webdata tiene 
# info de clientes que no están en final


# Archivo separado por comas
df_webdata = pd.read_csv('df_webdata.csv')
df_final = pd.read_csv('df_final_clients.csv')

# Filtrar df_webdata para crear df_participants:
df_participants = df_webdata[df_webdata['variation'] != "Not participant"]

# Verificar las primeras filas del nuevo DataFrame
df_participants.head()

,client_id,visit_id,duration,start,step_1,step_2,step_3,confirm,variation
3,555,637149525_38041617439_716659,00:02:38,1,1,1,1,1,Test
4,647,40369564_40101682850_311847,00:06:17,1,1,1,1,1,Test
11,934,7076463_57954418406_971348,00:02:22,4,0,0,0,0,Test
12,1028,557292053_87239438319_391157,00:08:58,1,5,2,1,0,Control
14,1104,543158812_46395476577_767725,00:00:00,1,0,0,0,0,Control

In [13]:
# Filtrar los client_id que tienen confirm >= 1 y start >= 1
filtered_clients = df_participants[(df_participants['confirm'] >= 1) & (df_participants['start'] >= 1)]

# Contar los client_id únicos que cumplen los criterios, agrupados por variation
count_filtered_by_variation = filtered_clients.groupby('variation')['client_id'].nunique()

# Contar el total de client_id únicos por variation
total_clients_by_variation = df_participants.groupby('variation')['client_id'].nunique()

# Combinar ambos conteos en un DataFrame
result = pd.DataFrame({
    'filtered_count': count_filtered_by_variation,
    'total_count': total_clients_by_variation
}).fillna(0)

# Calcular proporciones
result['proportion'] = result['filtered_count'] / result['total_count']

# Mostrar el resultado
result

           filtered_count  total_count  proportion
variation
Control             14919        23532    0.633988
Test                17906        26968    0.663972

In [15]:
# Filtrar filas que no cumplan con la condición start >= step_1 >= step_2 >= step_3 >= confirm
filtered_df = df_participants[
    ~(df_participants['start'] >= df_participants['step_1']) |
    ~(df_participants['step_1'] >= df_participants['step_2']) |
    ~(df_participants['step_2'] >= df_participants['step_3']) |
    ~(df_participants['step_3'] >= df_participants['confirm'])
]

filtered_df

,client_id,visit_id,duration,start,step_1,step_2,step_3,confirm,variation
12,1028,557292053_87239438319_391157,00:08:58,1,5,2,1,0,Control
19,1197,71862471_21202285428_848395,00:01:35,1,1,2,2,1,Control
22,1336,614001770_19101025926_112779,00:01:22,0,0,0,0,2,Test
23,1346,27144337_83739845380_214282,00:08:15,5,2,1,2,0,Test
41,1702,243444359_78696078676_118990,00:00:00,0,0,0,0,1,Test
...,...,...,...,...,...,...,...,...,...
159043,9995295,944432037_72425410366_517931,00:02:53,2,3,3,1,0,Test
159072,9997391,84654768_90613632047_633963,00:03:43,1,1,3,3,0,Control
159078,9998156,254203981_1117450921_444839,00:02:46,2,1,2,2,1,Test
159081,9998346,189177304_69869411700_783154,00:12:28,1,2,4,3,1,Control
159096,9998964,699981922_52880598802_858635,00:03:17,0,1,1,1,1,Test

In [9]:
# Filtrar para encontrar si existe algún client_id con start igual a 0
clients_with_start_zero = df_participants[df_participants['start'] == 0]

clients_with_start_zero

,client_id,visit_id,duration,start,step_1,step_2,step_3,confirm,variation
22,1336,614001770_19101025926_112779,00:01:22,0,0,0,0,2,Test
41,1702,243444359_78696078676_118990,00:00:00,0,0,0,0,1,Test
42,1702,733093772_49185493415_662403,00:00:00,0,0,0,0,1,Test
43,1702,825109778_55379502512_27372,00:00:00,0,0,0,0,1,Test
84,4603,238673227_44979180689_959603,00:00:00,0,0,0,0,1,Test
...,...,...,...,...,...,...,...,...,...
158963,9990356,808105267_51394109255_961617,00:00:00,0,0,0,0,1,Test
158964,9990356,902964129_57525956793_906690,00:00:00,0,0,0,0,1,Test
159015,9994115,437239712_4408495127_320934,00:00:53,0,0,0,0,2,Test
159042,9995265,809603340_74941852314_828669,00:04:17,0,2,2,2,0,Control
159096,9998964,699981922_52880598802_858635,00:03:17,0,1,1,1,1,Test